@charset "utf-8";
#header {
	border-style: none;
	width: 800px;
	height: auto;
}

#banner {
  margin: 0 auto;
  padding: 2.5em 0 0 0;
}

#banner h1 {font-size: 3.571em; line-height: .6;}

#banner h1 a:link, #banner h1 a:visited {
    color: #000305;
    display: block;
    font-weight: bold;
    margin: 0 0 .6em .2em;
    text-decoration: none;
    width: 427px;
}

#banner h1 a:hover, #banner h1 a:active {
    background: none;
    color: #C74350;
    text-shadow: none;
}

#wrapper {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	width: 800px;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.default-image {
  background-image: url("https://i.pinimg.com/originals/c5/e3/03/c5e30312108a373c7bb9fe29a9598ead.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.default-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.circleimg {
  border-radius: 50%;
}

div.covid-image {
	content: url('https://www.cdc.gov/about/images/facts/2020/socialdistancing.jpg');
	margin: 0;
	padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #A9A9A9;
}

.active {
  background-color: #111;
}
