{% load static %}
<html>

<link href="{% static 'pages/main.css' %}" rel="stylesheet" type="text/css">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trucking Logistics</title>
</head>
<body>

<div class="default-image">
	<h1>Trucking Logistics</h1>
	<div class="default-text">
<nav>
    <ul>
	    <li><a class="active" href="">Home</a></li>
	    <li><a href="pages/about.html">About Us</a></li>
	    <li><a href="pages/services.html">Our Services</a></li>
	    <li><a href="pages/products.html">Our Products</a></li>
	    <li><a href="{% url 'polls:index' %}">Vote in Polls</a></li>
    </ul>
</nav>

<div id="wrapper">
<img src="https://render.fineartamerica.com/images/rendered/search/print/8/6/break/images-medium-5/big-trucks-bob-orsillo.jpg">
</div>
</body>
</html>
