{% load static %}
<html>

<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trucking Logistics</title>
</head>
<body>

<div class="default-image">
	<h1>Trucking Logistics</h1>
	<h3>Our Products</h3>
	<div class="default-text">
    <ul>
	    <li><a href="{% url 'pages:index' %}">Home</a></li>
	    <li><a href="{% url 'pages:about' %}">About Us</a></li>
	    <li><a href="{% url 'pages:services' %}">Our Services</a></li>
	    <li><a class="active" href="{% url 'pages:products' %}">Our Products</a></li>
	    <li><a href="{% url 'polls:index' %}">Vote in Polls</a></li>
    </ul>
</body>
</html>
